{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        body{
            height: 100%;
            width: 100%;
        }

        #content_exception404
        {
            height: 100%;
            width: 100%;
            text-align: center;
        }
        h1{
            text-align: center;
            font-size: 22px;
        }
    </style>
{% endblock %}
{% block body %}
    <h1>Cette page n'existe pas, c'est mieux tu retournes à <a href="{{ path('noonastock_homepage') }}">l'index</a></h1>
    <div id="content_exception404">
        <img src="{{ asset('img/404.jpg') }}" alt=""/>
    </div>

{% endblock %}